{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1 id="premium">Our Premium Products</h1>
    <div class="productitems">
        {% for products in productss %}
        <div class="productitem">
            
            <div class="productsname"><strong>{{ products.name }}</strong></div>
            <div class="itemimage">
                <img src="{{ products.photo.url }}" alt="product image" height="270" width="270">
            </div>
            <div class="productsprice"><strong>RS.{{ products.price }}.00</strong></div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}
